/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/ISS-40_Thunderheads_near_Borneo.jpg/330px-ISS-40_Thunderheads_near_Borneo.jpg'); /* Add your image URL here */
    background-size: cover; /* Adjusts the background image to cover the entire element */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333; /* Dark text color */
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.dictionary {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.term {
    padding: 20px;
    background-color: #fff; /* White background color */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for cards */
}

.term h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333; /* Dark text color */
}

.term p {
    font-size: 16px;
    margin: 0;
    color: #666; /* Medium dark text color */
}
